/* @font-face {
    font-family: 'PleaseWriteMeASong';
     src: url('fonts/PleaseWriteMeASong.woff2') format('woff2'),
         url('fonts/PleaseWriteMeASong.woff') format('woff');
    
    src: url('fonts/PleaseWriteMeASong.ttf');
    font-weight: normal;
    font-style: normal;
}  */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
      body{
        background: linear-gradient(360deg, #3e7b5d 0%, rgba(235, 235, 235, 1) 16%, rgba(235, 235, 235, 1) 87%,  #3e7b5d 100%);
      }
      h1{font-size:5vw; 
    color:  #3e7b5d;}
      h2{font-size:3vw;
        color:  #3e7b5d; }
        h3{font-size:1.5vw;
          color:  #EBEBEB; }
      p{font-size: 1.6vw;}
      header{
        display: flex;
        align-items: center;
    justify-content: center;}
    nav {
        background-color: #B1D0C0;
        padding: 5vh;
        display: flex;   
        align-items: center;    
    height: 0.2vh;
    width: 80vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    border-radius: 20px;
    justify-content: center;
    }
    
    nav ul{ list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
      height: auto;    
      width: 100%;
     
    }
    nav ul li{
    font-size: 2.5vw;}
    nav ul li a{
        color:  #3e7b5d;
        text-decoration: none;
        font-size: 2.5vw;
        margin: 2vh;
    }

    nav ul li a.active {
        border-bottom: 2px solid #EBEBEB; 
        color: #EBEBEB; 
      }

    .portada {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 100%;
        background-image: url('img/portada-11.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image 0.5s ease;
      }
      
      /* Al pasar el mouse cambia */
      .portada:hover {
        background-image: url('img/portada-12.png'); 
      }
    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #SOBREMI{display: flex;
    flex-direction: row;
    margin-right:2vw;
    margin-left:2vw;
}
    
.mifoto img{
    width: 40%; 
    max-width:250px ;
    margin-right: 2vw;
}
.yo{
    background-color: #F7EBD5;
    padding: 2vw 2vh;
    border-radius: 20px;
}
.skills{ 
    display: flex;
    flex-direction: column;
    margin-right:2vw;
    margin-left:2vw;
    margin-bottom:2vw ;
    width: 96vw;
  
 }
 .iconos img {
  width: 20vw;        
  height: auto;
  margin: 0.5rem;
}

.iconos {display: flex;
        flex-wrap: wrap;}

        .boton {
            display: inline-block;
            background-color: #ffeecc;
            color: #2d5c46;
            padding: 2rem 4rem;
            font-size: 3.5rem;
            text-decoration: none;
            border-radius: 1rem;
            box-shadow: 8px 8px 0 #3e7b5d; 
            margin-top: 1rem;
            transition: all 0.2s ease; /* transición suave */
            position: relative; 
          }
          
          /* Cuando pasás el mouse */
          .boton:hover {
            box-shadow: none; 
            top: 4px; 
            left: 4px; 
          }
          
          /* Cuando hacés click */
          .boton:active {
            background-color: #3e7b5d;
            color: #ffffff; 
          }
          
#PROYECTOS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
}
#CONTACTO{
    padding: 2vh 2vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  input, select, textarea {
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f8f8e7;
    min-width: 250px;
  }
  
  textarea {
    min-width: 100%;
    min-height: 100px;
  }
  
  button[type="submit"] {
    background-color: #3e7b5d;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }

  footer{display: flex;
  flex-direction: row;
justify-content: center;
align-items: center; }
  footer a i{
    color: #EBEBEB;
    height: 2vh;
  }

  .trabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
  }
  .trabajos img{
    width: 90vw;
    padding: 2vh;
  }
  .botonflecha{margin-left: 2vw;}
 .botonflecha img{ height: 8vh;}

  .swiper {
    width: 100%;
    height: 80vh; 
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }
  

  .swiper-button-next,
  .swiper-button-prev {
    color: #2d5c46; 
  }
  .gravityfalls{margin-bottom: 10vh;}
  .mario{margin-bottom: 10vh;}

  /* .menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #3e7b5d;
    margin-left: auto;
  } */
  
  /* ANIMACIÓN*/
  @keyframes rotacion1 {
    from {
      transform: rotateX(90deg);
      opacity: 0;
    }
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
 
  .foto-cambiante {
    width: 40vh; 
    height: 40vh;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: cambiarFoto 2s infinite; /* Cambia cada 9 segundos */
  }
  

  footer {
    padding: 2rem 1rem;
    background-color: #ffeecc;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PleaseWriteMeASong', cursive;
    color: #2d5c46;
    width: 100%;
  }
  
  .footer-contenido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .bloque-footer {
    flex: 1;
    min-width: 250px;
  }
  
  .redes-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .titulo h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #2d5c46;
    text-align: center;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    font-size: 2.5rem;
  }
  
  .redes a {
    color: #3e7b5d; /* Verde para los íconos */
    transition: color 0.3s ease;
  }
  
  .redes a:hover {
    color: #3e7b5d; /* Verde más oscuro en hover */
  }
  
  .frase-footer-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .frase-footer {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #2d5c46;
  }
  
  .volver-arriba {
    display: inline-block;
    background-color: #3e7b5d;
    color: #ffeecc;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .marca-footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #3e7b5d;
  }

  /* Animación para cambiar las fotos */
  @keyframes cambiarFoto {
    0% { background-image: url('img/mifoto-23.png'); }
    33% { background-image: url('img/mifoto-24.png'); }
    66% { background-image: url('img/mifoto-25.png'); }
    100% { background-image: url('img/mifoto-23.png'); }
  }

  @media (min-width:0px) and (max-width:580px){
	  .portada {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      width: 100%;
      background-image: url('img/portada-11.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 0.5s ease;
    }
    .boton {
      display: inline-block;
      background-color: #ffeecc;
      color: #2d5c46;
      padding: 1rem 3rem;
      font-size: 2.5rem;
      text-decoration: none;
      border-radius: 1rem;
      box-shadow: 8px 8px 0 #3e7b5d; 
      margin-top: 1rem;
      transition: all 0.2s ease; /* transición suave */
      position: relative; 
    }
    
    /* Cuando pasás el mouse */
    .boton:hover {
      box-shadow: none; 
      top: 4px; 
      left: 4px; 
    }
    
    /* Cuando hacés click */
    .boton:active {
      background-color: #3e7b5d;
      color: #ffffff; 
  }
  .iconos img {
    width: 25vw;        
    height: auto;
    margin: 0.5rem;
  }
  p{font-size:2.2vw;}
  .foto-cambiante {
    width: 35vh;
    height: 35vh;
  }
  .swiper {
    height: auto; /* más adaptable */
  }

  .swiper-slide img {
    width: 90%; /* más grande en pantallas medianas */
  }

  .titulo h1 {
    font-size: 1.8rem;
    padding: 0.5rem 0;
  }

  .gravityfalls,
  .mario {
    padding: 0rem 0;
  }
  
  }
  
  @media (min-width:581px) and (max-width:990px){
    
    .portada {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      width: 100%;
      background-image: url('img/portada-11.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 0.5s ease;
    }
    .boton {
      display: inline-block;
      background-color: #ffeecc;
      color: #2d5c46;
      padding: 1rem 3rem;
      font-size: 2.5rem;
      text-decoration: none;
      border-radius: 1rem;
      box-shadow: 8px 8px 0 #3e7b5d; 
      margin-top: 1rem;
      transition: all 0.2s ease; /* transición suave */
      position: relative; 
    }
    
    /* Cuando pasás el mouse */
    .boton:hover {
      box-shadow: none; 
      top: 4px; 
      left: 4px; 
    }
    
    /* Cuando hacés click */
    .boton:active {
      background-color: #3e7b5d;
      color: #ffffff; 
  }
  .iconos img {
    width: 25vw;        
    height: auto;
    margin: 0.5rem;
  }
  p{font-size:2.2vw;}
  .foto-cambiante {
    width: 35vh;
    height: 35vh;
  }
  .swiper {
    height: auto; /* más adaptable */
  }

  .swiper-slide img {
    width: 90%; /* más grande en pantallas medianas */
  }

  .titulo h1 {
    font-size: 1.8rem;
    padding: 0.5rem 0;
  }

  .gravityfalls,
  .mario {
    padding: 0rem 0;
  }
  
}
  
  @media (min-width:991px){
    
  }